.tables {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.tables td, .tables th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
  
.tables tr:nth-child(even) {
    background-color: #f2f2f2;
}
    
.tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4a5066;
    color: white;
    text-align: center;
}