#tanksTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#tanksTable td, #tanksTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#tanksTable tr:nth-child(even){background-color: #f2f2f2;}
  
#tanksTable tr:hover {background-color: #ddd;}
  
#tanksTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4a5066;
    color: white;
}